body {
    margin-top: 30px;
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: lightgrey;
    font-family: 'VT323', monospace;
}

hr {
    border-color: darkgray;
}

.formDivider {
    width: 75%;
}

p {
    color: ghostwhite;
}

#itemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.itemToPurchase {
    margin: 15px;
    padding: 30px;
    background-color: dimgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.itemId {
    text-align: left
}

.itemName, .itemPrice {
    text-align: center;
}

.itemQuantity {
    text-align: center;
    margin-top: auto;
}


.formContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

label {
    color: lightgrey;
}

#messagesDisplay {
    height: 3em;
}

input {
    text-align: center;
    background-color: lightgrey;
}

input:disabled {
    color: black;
}